<div class="wrap">
<div class="leftArea">
  <div class="header">

    <h5>UAV Tracking</h5>

    <span class="switch">
      <input type="checkbox" id="switch" />
      <label for="switch">
          <span class="switch-txt" turnOn="On" turnOff="Off">
            <span class="on">On</span>
            <span class="off">Off</span>
          </span>
      </label>
    </span>
    
    <button (click)="startTracking()" [(disabled)]="isTracking">Start UAV Tracking</button>
    <button (click)="stopTracking()">Stop UAV Tracking</button>
    <!-- zoom related components -->
    
    <span class="percent">Percentage: {{zoomPercentage}}% <img src="../../assets/ruler.png" width=100> {{getRuler()}} m </span>

    <span class="float-right">
      <button (click)="zoomInOperation()"><i class="fa-light fa-magnifying-glass-plus"></i></button>
      <button (click)="zoomOutOperation()"><i class="fa-light fa-magnifying-glass-minus"></i></button>
    </span>
  </div>
  
  <!-- network topology -->
  <div [style]="'position: relative; width: ' + fieldData.fieldWidth + 'px; height: ' + fieldData.fieldHeight + 'px; overflow: hidden;'
  + 'background-color: white;'">
    <div ngDraggable [style]="'position: relative; width: ' + fieldData.fieldWidth + 'px; height: ' + fieldData.fieldHeight + 'px; overflow: visible;'
      + 'background-color: white;'">
      <div ngDraggable [position]="boundarySetup.position" [ngDraggable]=false style="position: absolute;">
        <img src="../../assets/boundary.png" [width]="boundarySetup.width" [height]="boundarySetup.height">
      </div>
      <span *ngFor="let bs of bsList" class="dot" [style]="getBsCoverageStyle(bs)"></span>
      <div ngDraggable *ngFor="let bs of bsList; let i = index" [position]="bs.position" [ngDraggable]=false style="position: absolute;">
        <img [src]="'../../assets/' + bs.icon" [height]="bsSize"
        [matTooltip]="'BS ID: ' + bs.index + ', x: ' + bs.realPosition.x + ', y: ' + bs.realPosition.y"
        matTooltipClass="mat-tooltip-large">
        <br>gNB{{i + 1}}
      </div>
      <div ngDraggable *ngFor="let ue of ueList" [position]="ue.position" [ngDraggable]=false style="position: absolute;">
        <img [src]="'../../assets/' + ueIcons[getConnectBsIndex(ue)]" [height]="ueSize"
        [matTooltip]="'UE IMSI: ' + ue.id + ', x: ' + ue.realPosition.x + ', y: ' + ue.realPosition.y"
        matTooltipClass="mat-tooltip-large" [tabindex]="ue.index"
        (focus)="ueFocus[ue.index] = true" (blur)="ueFocus[ue.index] = false">
        <br>{{ue.name}}
      </div>
    </div>
  </div>
</div>
  <!-- right side pannel -->
  <div class="rightArea" [style]="'position: absolute; top: ' + ueInfoIndex + 'px; left: '
    + getUeInfoLeftOffset() + 'px; width: ' + ueInfoWidth +'px; height: ' + ueInfoHeight + 'px;'">
    <span>
      <button (click)="openAreaSetup()">Field Setup</button>
      <button (click)="openOffsetSetup()">Offset Setup</button>
      <button (click)="openIntervalSetup()">GUI Setup</button>
    </span>
    <h5>UE Info</h5>
    <div>
      <span>
        <span>Total UE Throughput {{getTotalThroughput()}} Mbps</span>
        <span>Avg UE Throughput {{avg_throughput}} Mbps</span>
      </span>
      <span>
        <rd-gauge-chart [name]="'HO Processing Time'" [canvasWidth]=150 [optionVal]="processGaugeOption"
          [sdlNamespace]="'ho_perf_ns'" [sdlKey]="'ho_perf'" [isTracking]="isTracking"></rd-gauge-chart>
                
        <rd-gauge-chart [name]="'BWP Processing Time'" [canvasWidth]=150 [optionVal]="processGaugeOption"
        [sdlNamespace]="'bwp_perf_ns'" [sdlKey]="'bwp_perf'" [isTracking]="isTracking"></rd-gauge-chart>
      </span>
      <!-- <button (click)="openGnbSetup()">gNB Setup</button><br><br> -->
    </div>
   
    
    <div class="throughputMAP" [style]="'position: relative; width: ' + ueInfoWidth + 'px;'">
      <rd-statistics-chart [isTracking]="isTracking" [throughput_map]="throughput_map" [ueList]="ueList"></rd-statistics-chart>
    </div>

    <h5>UE List
      <span class="groupBtn">connect BS
        <label class="active">gNB1</label>
        <label>gNB2</label>
        <label>gNB3</label>
      </span>
    </h5>

    <div class="barChart">

    </div>

    <div>
      <table>
        <thead>
        <tr>
          <th>UE Name</th>
          <th>BWP ID</th>
          <th>Start</th>
          <th>Bandwidth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ue of ueList">
          <td>{{ue.name}}</td>
          <td>{{getConnectedBsName(ue)}}</td>
          <td>{{ue.bwpData.bwpId}}</td>
          <td>{{ue.bwpData.start}}</td>
          <td>{{ue.bwpData.bandwidth}}</td>
        </tr>
      </tbody>
      </table>
    </div>
    <!-- <table border="0">
      <tr *ngIf="ueList.length > 0">
        <th *ngIf="ueList.length > 0">
          <rd-gauge-chart [name]="ueList[0].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[0].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 1">
          <rd-gauge-chart [name]="ueList[1].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[1].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 2">
          <rd-gauge-chart [name]="ueList[2].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[2].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 3">
          <rd-gauge-chart [name]="ueList[3].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[3].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 4">
          <rd-gauge-chart [name]="ueList[4].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[4].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
      </tr>
      <tr *ngIf="ueList.length > 5">
        <th *ngIf="ueList.length > 5">
          <rd-gauge-chart [name]="ueList[5].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[5].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 6">
          <rd-gauge-chart [name]="ueList[6].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[6].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 7">
          <rd-gauge-chart [name]="ueList[7].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[7].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 8">
          <rd-gauge-chart [name]="ueList[8].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[8].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 9">
          <rd-gauge-chart [name]="ueList[9].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[9].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
      </tr>
      <tr *ngIf="ueList.length > 10">
        <th *ngIf="ueList.length > 10">
          <rd-gauge-chart [name]="ueList[10].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[10].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 11">
          <rd-gauge-chart [name]="ueList[11].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[11].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 12">
          <rd-gauge-chart [name]="ueList[12].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[12].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 13">
          <rd-gauge-chart [name]="ueList[13].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[13].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
        <th *ngIf="ueList.length > 14">
          <rd-gauge-chart [name]="ueList[14].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[14].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
      </tr>
      <tr *ngIf="ueList.length > 15">
        <th *ngIf="ueList.length > 15">
          <rd-gauge-chart [name]="ueList[15].name" [canvasWidth]=150 [optionVal]="throughputGaugeOption"
            [sdlNamespace]="'mqtt_ns'" [sdlKey]="ueList[15].id" [isTracking]="isTracking" [throughput_map]="throughput_map"></rd-gauge-chart>
        </th>
      </tr>
    </table> -->
  </div>
</div>