* {
  font-family: Microsoft JhengHei;
}
  
.header h5 {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
}
.header .switch {
  margin: 0 1em;
  vertical-align: text-bottom;
}
.leftArea,.rightArea {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.dot {
  border-radius: 100em;
}
.percent {
  font-size: .9em;
  color: #333;
  margin: 0 1em;
}
.percent img {
  width: 2.5em;
  height: auto;
}