.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.mat-tooltip-large {
  font-size: 16px;
}

.button {
  height: 50px;
  width: 100px;
  margin-right: 8px;
}

.left-margin-button {
  margin-left: 100px;
}