.main__header {
    color: #fff;
    background-color: #1e1e2a;
}
main {
    /* padding: 0 2.5%!important; */
}

.hamburger__icon__fill {
    fill: #ffffff!important;
}
.main__container {
    background-color: #41414c;
}
.rightArea {
    width: 47%!important;
    background-color: initial!important;
}
.header {
    border-bottom: 2px solid #21c47e;
    padding: 0.3em 0 0.5em 0;
}
h3 {
    color: #eee;
}
h5 {
    font-size: 1.35em!important;
    color: #eee;
    text-shadow: 0 2px 5px #160606;
}
h5 + .mat-slide-toggle {
    margin-left: 1.5em!important;
}
h5 + .mat-slide-toggle  .mat-slide-toggle-content {
    color: #a7a7a7!important;
}
.percent {
    color: #a7a7a7!important;
}
.gNB1 {
    background: radial-gradient(circle, rgb(41 48 165 / 81%) 0%, rgb(59 54 74 / 44%) 100%);
    opacity: initial!important;
    background-color: initial!important;
}
.gNB2 {
    background: radial-gradient(circle, rgb(145 57 130 / 81%) 0%, rgb(59 54 74 / 44%) 100%);
    opacity: initial!important;
    background-color: initial!important;
}
.gNB3 {
    background: radial-gradient(circle, rgb(118 116 118 / 81%) 0%, rgb(59 54 74 / 44%) 100%);
    opacity: initial!important;
    background-color: initial!important;
}
.zoom button {
    margin: 0 0 3px 3px;
    background: rgb(32,200,124);
    background: linear-gradient(34deg, rgba(32,200,124,1) 17%, rgba(37,126,162,1) 100%)!important;
    border: none!important;
}
.switch label {
    background: linear-gradient(45deg, #323232, #878787b8)!important;
}
.switch input:checked + label {
    background: linear-gradient(34deg, #13a965 17%, rgba(37,126,162,1) 100%)!important;
    box-shadow: 0 2px 3px inset;
}
.switch input:checked + label:after {
    border: 2px solid #30e1a6!important;
}
.groupBTN button {
    background: linear-gradient(180deg, #22b170 7%, #136f93 70%)!important;
    border: none!important;
    border-right: 1px solid #24382e!important;
}
.groupBTN label {
    border:1px solid #234c4c!important;
    background: linear-gradient(180deg, #353536 0%, #282833 100%);
    color: #949b9a!important;
    margin: 0 0 0 -1px;
}
.groupBTN label.active {
    color: #ffffff!important;
    background: linear-gradient(180deg, #22b170 7%, #136f93 70%)!important;
}

.barTable table thead tr th {
    background-color: #383843!important;
    border: none!important;
    border-bottom: 1px solid #1c74a9!important;
    padding: 0.3em;
    font-weight: normal;
    color: #eee!important;
}
.barTable table tbody tr td {
    border-bottom: 0!important;
    color: #eee!important;
    padding: 0.4em!important;
}
.barTable table tbody tr:nth-child(even) td {
    background-color: #34343f;
}
.throughputMAP {
    margin: 1em 0 0.5em!important;
    background: radial-gradient( transparent,#1e1e2a);
    border-radius: 6px;
    padding: 1em;
    width: 100%!important;
}

.blueBG,.blueBorder{
    border: initial!important;
    border-right: 1px solid #1e1e2a!important;
    background-color: initial!important;
}
.ueINFO h6 {
    color: #ffffff;
}
.ueINFO > span > label,
.ueINFO h6 + span {
    color: #55dbb6!important;
}
.legend {
    color: #ddd;
    right: 19.5%!important;
}
.map {
    margin-top: 0.8em;
}
.groupBTN {
    color: #bfbfbf;
    margin: 0 0 1em 2.2em;
    display: block;
}
.ueList canvas {
    margin: 0;
}
.groupBTN label:first-child {
    margin: 0 0 0 0.5em;
}
rd-statistics-chart {
    margin: 0 0 1em 0;
    display: block;
}

.mat-form-field.mat-focused
.mat-form-field-label {
    color: #0fb1b1;
}
.mat-form-field.mat-focused
.mat-form-field-ripple {
    background-color: #0fb1b1;
}
mat-drawer-content {
    overflow: auto!important;
}
.mat-dialog-container h4 {
    background-color: #136f93;
    margin: -24px -24px 1em!important;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.2em;
}
.mat-dialog-container  .mat-form-field {
    margin: 2%;
}
.mat-dialog-container .btn_area button {
    margin: auto;
    color: #fff;
    display: block;
    background:  linear-gradient(34deg, rgba(32,200,124,1) 17%, rgba(37,126,162,1) 100%)!important;
}