.legend {
  position: absolute;
  right: 10%;
  top: -3%;
    font-size: .7em;
  }
  .ueTrend canvas{
    height: auto !important;
    width: 88%;
    display: inline-block !important;
    margin: 0 0 0 0;
    vertical-align: top;
  }
  .ueTrend {width: 100%!important;}